{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ]
  ],
  "env": {
    "development": {
      "sourceMaps": "inline",
      "retainLines": true
    }
  },
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "@app": "./src/app.js",
          "@config": "./src/config",
          "@helpers": "./src/helpers",
          "@services": "./src/services",
          "@entities": "./src/entities"
        }
      }
    ]
  ]
}